<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/edgecloudmodel/ECModel"
			class = "org.xtext.example.edgecloudmodel.eCModel.ECModelPackage"
			genModel = "model/generated/ECModel.genmodel" />
	</extension>
</plugin>
